:root {
  --navbarWidth: 275px;
}

body {
  background: linear-gradient(180deg, #cbe3ff 0%, #f1e2ff 100%);
  min-height: 100dvh;
}

button {
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}
.icon {
  height: 24px;
  width: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  &.icon-home {
    background-image: url("../img/icon/home.svg");
  }
  &.icon-product {
    background-image: url("../img/icon/product.svg");
  }
  &.icon-add-product {
    background-image: url("../img/icon/add-product.svg");
  }
  &.icon-user {
    background-image: url("../img/icon/user.svg");
  }
  &.icon-link {
    background-image: url("../img/icon/link.svg");
  }
  &.icon-exit {
    background-image: url("../img/icon/exit.svg");
    filter: brightness(0) saturate(100%) invert(10%) sepia(90%) saturate(7494%)
      hue-rotate(340deg) brightness(89%) contrast(115%);
  }
  &.icon-close {
    background-image: url("../img/icon/close.svg");
  }
  &.icon-menu {
    background-image: url("../img/icon/menu.svg");
    width: 40px;
    height: 40px;
  }
}
.side-bar-wrapper {
  z-index: 3;
  position: fixed;
  left: 0;
  height: 100dvh;
  width: var(--navbarWidth);
  /*visibility: hidden;*/
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;

  @media (min-width: 992px) {
    transform: translateX(0);

    display: block;
    visibility: visible;
    opacity: 100%;
  }
  background-color: rgba(0, 58, 199);

  .side-bar {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      to top,
      #f2edee 0%,
      #eaf2fe 99%,
      #ebf1fa 100%
    );
    border-top-right-radius: 30px;
    padding: 30px 10px 5px 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 1px;
    position: relative;

    &-close {
      display: flex;
      @media (min-width: 992px) {
        display: none;
      }
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: 16px;
      top: 16px;
      width: 50px;
      height: 50px;
      .icon {
        width: 100%;
        height: 100%;
      }
    }

    .side-bar-user {
      width: 90px;
      height: 90px;
      border-radius: 999px;
      overflow: hidden;
      flex-shrink: 0;
      border: solid 1px #747474;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .side-bar-menu {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow: auto;
      .side-bar-menu-top {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 3px;

        &-item {
          background: rgb(71, 0, 182);
          background: linear-gradient(
            270deg,
            rgba(71, 0, 182, 1) 0%,
            rgba(0, 58, 199, 1) 100%
          );

          text-decoration: none;
          color: #ffffff;
          padding: 10px;
          border-radius: 8px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          display: flex;
          align-items: center;
          .icon {
            filter: brightness(0) saturate(100%) invert(97%) sepia(0%)
              saturate(0%) hue-rotate(102deg) brightness(106%) contrast(101%);
          }

          &:hover {
            background: rgb(39, 0, 100);
            background: linear-gradient(
              270deg,
              rgba(39, 0, 100, 1) 0%,
              rgba(0, 34, 116, 1) 100%
            );

            color: #ffffff;

            .icon {
              filter: brightness(0) saturate(100%) invert(97%) sepia(0%)
                saturate(0%) hue-rotate(102deg) brightness(106%) contrast(101%);
            }
          }
        }
      }
      .side-bar-menu-bottom {
        display: flex;
        flex-direction: column;
        gap: 5px;
        &-item {
          text-decoration: none;
          color: #ffffff;
          background-color: #2a313e;
          padding: 10px;
          border-radius: 8px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          display: flex;
          align-items: center;

          .icon {
            filter: brightness(0) saturate(100%) invert(97%) sepia(0%)
              saturate(0%) hue-rotate(102deg) brightness(106%) contrast(101%);
          }

          &:hover {
            background-color: #151419;
          }
        }
      }
    }
  }
}
.show-side-bar {
  transform: translateX(0);
  background-color: transparent;
  visibility: visible;
  opacity: 100%;
}

.main-wrapper {
  padding-left: 0;
  @media (min-width: 992px) {
    padding-left: var(--navbarWidth);
  }
  .top-bar {
    position: sticky;
    top: 0;
    background: rgb(71, 0, 182);
    background: linear-gradient(
      270deg,
      rgba(71, 0, 182, 1) 0%,
      rgba(0, 58, 199, 1) 100%
    );
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .top-bar-user {
      position: relative;
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;

      &-name {
        color: #ffffff;
      }
      &-img {
        width: 48px;
        height: 48px;
        border-radius: 999px;
        background-color: #ffffff;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 100%;
          object-fit: cover;
        }
      }
      &-menu {
        width: 150px;
        position: absolute;
        top: 100%;
        right: 5px;
        visibility: hidden;
        opacity: 0;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px,
          rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px,
          rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px,
          rgba(0, 0, 0, 0.07) 0px 32px 64px;
        transition: 100ms all;
        &-item {
          background-color: #ffffff;
          text-decoration: none;
          color: #000000;
          display: flex;
          align-items: center;
          justify-content: space-between;

          &:hover {
            background-color: #eaeaea;
          }
        }
      }
      &:focus-within .top-bar-user-menu {
        opacity: 100%;
        visibility: visible;
      }
    }
  }
}
